<section id="features" class="home">
	<div class="container">
		<div class="side-nav-column">
			<div class="side-nav">
				<h4>Latest</h4>
				<h2>Digital <span class="poppins">Features</span></h2>
				<a href="{{ site.url }}/features">
					<button class="tablet-hide" formaction="{{ site.url }}/features">See All Features</button>
				</a>
			</div>
		</div>
		<div class="container-nested features-list">
			

		{% for post in posts | slice(0,4) %}


			<div class="feature">
				<a href="{{post.link}}">
					<div class="featured-image" style="background-image: url('{{post.thumbnail}}');"></div>
				</a>
				<h4 class="date-category">{{post.post_date|date("M j, Y")}} <span class="worksans">/</span> Style</h4>
				<h3>{{post.title}}<br><span class="poppins">{{post.get_field('article_details_subtitle') }}</span></h3>
				<p>{{post.article_details_standfirst}}</p>
				<a href="{{post.link}}">
					<h4 class="link">Read Feature<img class="chevron" src="{{theme.link}}/img/chevron-right-black.png"></h4>
				</a>
			</div>
			
	
	{% endfor %}		


			<div class="call-to-action tablet-display">
				<a href="{{site.url}}/features">
					<button formaction="{{site.url/features}}">See All Features</button>
				</a>
			</div>
		</div>
	</div>
</section>