
{% if limit %}
<div class="grid-items">
	{% for post in posts|slice(0,limit) %}
		<div class="grid-item-container" data-category="{{post.category}}">
			{% if post.thumbnail %}	
				<div class="grid-item-image-container">
					<img class="grid-item-image" src="{{post.thumbnail}}" />
				</div>	
			{% else %}	
				<div class="grid-item-image-container">
					<img class="grid-item-image" src="{{theme.link}}/img/tmrw-image-placeholder.png" />
				</div>	
			{% endif %}		

			<div class="grid-item-strapline-container">
					<p class="grid-item-strapline">{{post.post_date|date("M j, Y")}} / {{post.category}}</p>
			</div>


			<div class="grid-item-title-container">
				<h1 class="grid-item-title">{{post.title}}</h1>
				<h1 class="grid-item-subtitle">{{post.get_field('article_details_subtitle') }}</h1>
			</div>

			<div class="grid-item-standfirst-container">
				<p class="grid-item-standfirst">{{post.article_details_standfirst}}</p>
			</div>
			
			<a class="grid-item-link" href="{{post.link}}"> Read Feature > </a>
	</div>
	{% endfor %}		
</div>


{% else %}

<div class="grid-items">
	{% for post in posts %}
		<div class="grid-item-container" data-category="{{post.category}}">
			{% if post.thumbnail %}	
				<div class="grid-item-image-container">
					<img class="grid-item-image" src="{{post.thumbnail}}" />
				</div>	
			{% else %}	
				<div class="grid-item-image-container">
					<img class="grid-item-image" src="{{theme.link}}/img/tmrw-image-placeholder.png" />
				</div>	
			{% endif %}		

			<div class="grid-item-strapline-container">
					<p class="grid-item-strapline">{{post.post_date|date("M j, Y")}} / {{post.category}}</p>
			</div>


			<div class="grid-item-title-container">
				<h1 class="grid-item-title">{{post.title}}</h1>
				<h1 class="grid-item-subtitle">{{post.get_field('article_details_subtitle') }}</h1>
			</div>

			<div class="grid-item-standfirst-container">
				<p class="grid-item-standfirst">{{post.article_details_standfirst}}</p>
			</div>
			
			<a class="grid-item-link" href="{{post.link}}"> Read Feature > </a>
	</div>
	{% endfor %}		
</div>




{% endif %}