<div class="header container">
 	
	<div class="header-info">

		<div class="header-info-search">
			<button class="header-language header-info-item">English</button>
			<button class="header-search header-info-item">Search</button>
			<p class="header-basket header-info-item">Basket (0)</p>
		</div>

		<a class="header-logo" href="index.html"><img src="{{theme.link}}/img/tmrw-logo.png" alt="Tmrw Logo"></a>

		<li class="social-media">
			<a class="social-media-link" target="_blank" href="{{options.social_.facebook}}"><i class="icon-facebook"></i></a>
			<a class="social-media-link" target="_blank" href="{{options.social_.twitter}}"><i class="icon-twitter"></i></a>
			<a class="social-media-link" target="_blank" href="{{options.social_.instagram}}"><i class="icon-instagram"></i></a>
			<a class="social-media-link" target="_blank" href="{{options.social_.tumblr}}"><i class="icon-tumblr"></i></a>
		</li>

	</div>


	<nav class="nav-wrapper">
		<li class="nav-item">
			{% for item in menu.items %}
			<a class="nav-link"  href="{{item.link}}">{{item.name}} /</a>
			{% endfor %}	
			</li>
	</nav>


</div>	