<section id="current-volume">
	<div class="container">
		<div class="cover-image">
			<img src="{{Image(issue.cover_image).src}}">
		</div>
		<div class="heading">
			<h1>Volume N<sup>o</sup> {{issue.volume_number}}<br><span class="poppins">{{issue.title}}</span></h1>
		</div>
		<div class="sub-heading">
			<h4>Current Volume</h4>
		</div>
		<div class="description">
			<p>
				{{issue.description}}
			</p>
		</div>
		<div class="call-to-action">
			<a href="{{issue.link}}">
				<button formaction="{{issue.link}}">See Inside</button>
			</a>
		</div>
	</div>
</section>