{% if options.video_module %}
	
	<section id="video-module">
		<video id="video-loop" autoplay muted loop poster="{{options.video_module.video_poster.url}}">
			<source src="{{options.video_module.video}}" type="video/mp4">
		</video>
		<div class="container">
			<div class="title">
				<h2>{{options.video_module.title}} &mdash; <span class="poppins">{{options.video_module.subtitle}}</span></h2>
			</div>
			<div class="play">
				<a href="#video-module-modal"><button></button></a>
			</div>
			<div class="info">
				<p>
					{{options.video_module.description}}
				</p>
			</div>
		</div>
		<div id="video-module-modal" class="modal-window">
			<a href="#video-module">
				<button id="modal-close" class="">
					<span class="icon-bar top-bar"></span>
					<span class="icon-bar bottom-bar"></span>
				</button>
			</a>
			<div class="modal-container">
				<video controls poster="{{options.video_module.video_poster.url}}">
					<source src="{{options.video_module.video}}" type="video/mp4">
				</video>
			</div>
		</div>
	</section>	

{% endif %}