
{% extends "layout.twig" %}

{% block content %}




<section id="basket-checkout-confirmation">
	
	<div class="container">

		<div class="breadcrumb">
			<h4>
				<a href="{{site.url}}/shop">Shop</a>
				<img class="chevron" src="{{theme.link}}/img/chevron-right-black.png"/>
				<a href="{{site.url}}/cart">Basket</a>
			</h4>
		</div>



			




    {% filter shortcodes %}
        [woocommerce_cart]
    {% endfilter %}




		
		</div>
	
	</section>




{% endblock %}



{% block scripts %}
	<script type="text/javascript" src="{{theme.link}}/js/woo-quantity.js"></script>
	{{ parent() }}
		<script type="text/javascript">
			$(document).ready(function() {$('button[name="update_cart"]').removeAttr( 'disabled' );});
		</script>


{% endblock %}