{% set siteUrl = site.url ~ '/' %}
{% if current_url == siteUrl %}
	{% set slug = 'home' %}
{% else %}
	{% set slug = post.slug %}
{% endif %}	

<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="keywords" content="music, culture &#038; beautiful living. tmrw magazine a worldwide style and culture magazine with a subscription magazine and a refreshing online magazine blog.">
	{% if fn('is_single') %}
	<meta name="description" content="{{ post.article_details_standfirst }}">
	<meta property="og:title" content="{{ post.title }}"/>
	<meta property="og:image" content="{{ post.thumbnail|resize(200, 200) }}"/> <!-- site first image -->
	<meta property="og:site_name" content="{{ post.title }}"/>
	<meta property="og:description" content="{{ post.article_details_standfirst }}"/>
	<meta property="og:url" content="{{ post.link }}"/>
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@tmrwmag">
	<meta name="twitter:creator" content="@tmrwmag">
	<meta name="twitter:title" content="{{ post.title }}">
	<meta name="twitter:description" content="{{ post.article_details_standfirst }}">
	<meta name="twitter:image" content="{{ post.thumbnail|resize(300, 300) }}">	
	{% else %}
	<meta name="description" content="{{site.description}}">
	<meta property="og:title" content="{{ site.name }}"/>
	<meta property="og:image" content="{{theme.link}}/img/tmrw-logo-black.svg"/> <!-- site first image -->
	<meta property="og:site_name" content="{{ site.name }}"/>
	<meta property="og:description" content="{{ site.description }}"/>
	<meta property="og:url" content="{{ site.link }}"/>
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@tmrwmag">
	<meta name="twitter:creator" content="@tmrwmag">
	<meta name="twitter:title" content="{{ site.name }}">
	<meta name="twitter:description" content="{{ site.description }}">
	<meta name="twitter:image" content="{{theme.link}}/tmrw-logo-black.svg">	
	{% endif %}

	<title>   
	{% if wp_title %}
	    {{ wp_title }} - {{ site.name }}
	{% else %}
	    {{ site.name }}
	{% endif %}
	</title>
  <link rel="stylesheet" type="text/css" href="{{theme.link}}/dist/css/bundle.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">

  {{wp_head}}
</head>
<body id="{{slug}}">
	
{% block header %}
	{% include 'partials/header.twig' %}
{% endblock %}


{% block content %}
{% endblock %}

{% block btfad %}
{% endblock %}

{% block subscription %}
	{% include 'partials/subscription.twig' %}
{% endblock %}

{% block footer %}
	{% include 'partials/footer.twig' %}
{% endblock %}

{% block scripts %}

<!-- Google Analytics -->

		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-40448306-1', 'auto');
		ga('send', 'pageview');
		</script>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

			<!-- Mailing List Form Validator-->
	<script type="text/javascript">
		function validateForm() {
			if (isEmpty(document.getElementById('data_4').value.trim())) {
				alert('Email is required!');
				return false;
			}
			if (!validateEmail(document.getElementById('data_4').value.trim())) {
				alert('Email must be a valid email address!');
				return false;
			}
			return true;
		}
		function isEmpty(str) { return (str.length === 0 || !str.trim()); }
		function validateEmail(email) {
			var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,15}(?:\.[a-z]{2})?)$/i;
			return isEmpty(email) || re.test(email);
		}
	</script>

	<!-- Hide Header on Scroll -->
	<script type="text/javascript">
		function onResize() {
			if (document.documentElement.clientWidth > 575) {
				var prevScrollpos = window.pageYOffset;
				window.onscroll = function() {
					var currentScrollPos = window.pageYOffset;
					var viewportWidth = window.innerWidth || document.documentElement.clientWidth;
					if (prevScrollpos > currentScrollPos) {
						document.getElementById("header").style.top = "0";
					} else {
						if (viewportWidth > 1199) {
							document.getElementById("header").style.top = "-47px";
						} else {
							document.getElementById("header").style.top = "-128px";
						} 
					}
					prevScrollpos = currentScrollPos;
				}
			}
			else {
				document.getElementById("header").style.top = "-370px";
			}
		}
		window.addEventListener("resize", onResize, true);
		onResize();
	</script>


	<!-- Mobile Nav Toggle -->
	<script type="text/javascript">
		function navToggle() {
			var header = document.getElementById("header");
			var navToggle = document.getElementById("nav-toggle");
			if (header.style.top === "0px") {
				header.style.top = "-370px";
			} else {
				header.style.top = "0px";
			};
			navToggle.classList.toggle("collapsed");
		}
	</script>

	{# Active Header #}
	<script>
		$(document).ready(function() {
			if(location.pathname != "/") {
				$('.header-navbar-bottom a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
				$('.header-navbar-bottom a:eq(0)').removeClass('active');
			} else $('.header-navbar-bottom a:eq(0)').addClass('active');
		});

		$(document).ready(function() {
			if(location.pathname.split('/')[1] === "cart") {
				$('.header-navbar-bottom a[href^="/shop"]').addClass('active');
			}
			
			});


		$(document).ready(function() {
			if(location.pathname.split('/')[1] === "checkout") {
				$('.header-navbar-bottom a[href^="/shop"]').addClass('active');
			}
			
			});
	</script>



		
{{wp_footer}}
{% endblock %}	
</body>
</html>
