{% extends "layout.twig" %}



{% block content %}
	<section id="features" class="search-results">
		
		<div class="container">
			<div class="heading-container">
				<div class="side-nav">
					<h4>Search Results For</h4>
					<h3>{{search_query}}</h3>
				</div>
			</div>


			<div class="container-nested features-list">

				{% for post in posts|slice(0,60) %}

				<div class="feature {{post.category}}" style="display: none;">
					<a href="{{post.link}}">
						<div class="featured-image" style="background-image: url({{post.thumbnail}});"></div>
					</a>
					<h4 class="date-category">{{post.post_date|date("M j, Y")}} <span class="worksans">/</span> {{post.category}}</h4>
					<h3>{{post.title}}<br><span class="poppins">{{post.get_field('article_details_subtitle') }}</span></h3>
					<p>{{post.article_details_standfirst}}</p>
					<a href="{{post.link}}">
						<h4 class="link">Read Feature<img class="chevron" src="{{theme.link}}/img/chevron-right-black.png"></h4>
					</a>
				</div>

			{% endfor %}

							<div class="call-to-action load-more">
					<button id="load-more-button" >Load More</button>
				</div>
			</div>
		



		</div>



		</div>
	</section>


{% endblock %}


{% block scripts %}
{{ parent() }}

<script>
	$(document).ready(function() {
		$('.header-navbar-bottom a').removeClass('active');
	});
</script>


	<!-- Hide Header on Scroll -->
	<script type="text/javascript">
		function onResize() {
			if (document.documentElement.clientWidth > 575) {
				var prevScrollpos = window.pageYOffset;
				window.onscroll = function() {
					var currentScrollPos = window.pageYOffset;
					var viewportWidth = window.innerWidth || document.documentElement.clientWidth;
					if (prevScrollpos > currentScrollPos) {
						document.getElementById("header").style.top = "0";
					} else {
						if (viewportWidth > 1199) {
							document.getElementById("header").style.top = "-47px";
						} else {
							document.getElementById("header").style.top = "-128px";
						} 
					}
					prevScrollpos = currentScrollPos;
				}
			}
			else {
				document.getElementById("header").style.top = "-370px";
			}
		}
		window.addEventListener("resize", onResize, true);
		onResize();
	</script>

	<!-- Mobile Nav Toggle -->
	<script type="text/javascript">
		function navToggle() {
			var header = document.getElementById("header");
			var navToggle = document.getElementById("nav-toggle");
			if (header.style.top === "0px") {
				header.style.top = "-370px";
			} else {
				header.style.top = "0px";
			};
			navToggle.classList.toggle("collapsed");
		}
	</script>

	<!-- Line Clamp -->
	<script type="text/javascript" src="js/clamp.min.js"></script>
	<script type="text/javascript">
		var featureBody = document.querySelector(".feature-body p");
		$clamp(featureBody, {clamp: 6});
	</script>

	<!-- Load More -->
	<script type="text/javascript">
		$(document).ready(function () {
			$(".feature").slice(0, 6).show();
			if ($(".feature:hidden").length != 0) {
				$("#load-more-button").show();
			}   
			$("#load-more-button").on('click', function (e) {
				e.preventDefault();
				$(".feature:hidden").slice(0, 6).fadeIn('slow');
				if ($(".feature:hidden").length == 0) {
				$("#load-more-button").fadeOut('300');
				}
			});
		});
	</script>


{% endblock %}

