{% extends "layout.twig" %}

{% block content %}	


		<!-- Article Header -->
		<section id="article-header" class="legacy-grid-container article-header-container">


			<!-- Article Header -->
			<div class="featured-image" style="background-image: url('{{post.thumbnail}}');">
			</div>

			<div class="heading">
				<h1>{{post.title}}<br class="tablet-hide"> <span class="poppins">{{post.get_field('article_details_subtitle')}}</span></h1>
			</div>
			<div class="author-date-category" id="{{featured_id}}">
				<h4>{{writer.display_name}} <span class="worksans mobile-hide">/</span> <br class="mobile-display">{{post.post_date|date("M j, Y")}} <span class="worksans">/</span> {{post.category}}</h4>
			</div>
			<div class="stand-first">
				<h2>
					{{post.article_details_standfirst}}
				</h2>
			</div>
	


		</section>


		<!-- Article Content -->
		<section class="article-content legacy-article">

<div>
			{{post.content}}


		</div>
		
				<!-- Article Credits -->
				<div class="article-credits grid-container">
						<p>Words by {{post.author}}</p>
				</div>
		</section>	

{% endblock %}