{% extends "layout.twig" %}

{% block content %}	

{% set writer = post.get_field('article_details_author') %}

		<!-- Article Header -->
		<section id="article-header" class="grid-container article-header-container">

				<div class="article-header-image-container">
					{% for image in post.get_field('article_details_opening_image') %}
						<img class="article-header-image" src="{{image.url}}" />
					{% endfor %}
				</div>

				<div class="article-header-title-container">
					<h1 class="article-header-title">{{post.title}}</h1>
					<h1 class="article-header-subtitle">{{post.get_field('article_details_subtitle') }}</h1>
				</div>


				<div class="article-header-strapline-container">
						<p class="article-header-strapline">{{writer.display_name}} / {{post.post_date|date("M j, Y")}} / {{post.category}}</p>
				</div>


				<div class="article-header-standfirst-container">
						<h2 class="article-header-standfirst">{{post.article_details_standfirst}}</h2>
				</div>


		</section>


		<!-- Article Content -->
		<section class="article-content">

				<!-- Article Body -->
					<div class="article-body grid-container">
						{% for block in post.get_field('blocks') %}
							{% if block.acf_fc_layout == 'paragraph' %}
								{{block.paragraph}}
							{% elseif block.acf_fc_layout == 'heading' %}
								<h3>{{block.heading}}</h3>	
							{% elseif block.acf_fc_layout == 'embed' %}
								<div class="embed-container">
									{{block.embed}}
								</div>
							{% elseif block.acf_fc_layout == 'quote' %}
								<q>{{block.quote}}</q>	
							{% elseif block.acf_fc_layout == 'image' %}
								<div class="image-inline-container image-inline-container-{{block.width_}}">
									<img class="inline-image" src="{{block.image.url}}" />
									<p class="image-inline-caption image-inline-caption-{{block.width_}}">{{block.image_caption}}</p>	
								</div>
							{% endif %}
						{% endfor %}
					</div>
		
				<!-- Article Credits -->
				<div class="article-credits grid-container">
						<p>Words by {{writer.display_name}}</p>
					{% for credit in post.get_field('article_details_credits') %}
						<p>{{credit.title}} by {{credit.name}}</p>
					{% endfor %}
				</div>
		</section>	

{% endblock %}