{% extends 'layout.twig' %}

{% block content %}


<section id="shop">
    <div class="container">
        <div class="side-nav-column">
            <div class="side-nav filters">
                <h3>Sort <span class="poppins">Products</span></h3>

                <form id="product-sort" method="post">

                    <label class="radio-container">Latest
                        <input type="radio" name="orderby" value="latest" checked onclick="document.location='{{site.url}}/shop?orderby=latest';">
                        <span class="checkmark"></span>
                    </label><br class="tablet-hide">
                    <label class="radio-container">Popularity
                        <input type="radio" name="orderby" value="popularity" onclick="document.location='{{site.url}}/shop?orderby=popularity';">
                        <span class="checkmark"></span>
                    </label><br class="tablet-hide">
                    <label class="radio-container">Price: Low to High
                        <input type="radio" name="orderby" value="price" onclick="document.location='{{site.url}}/shop?orderby=price';">
                        <span class="checkmark"></span>
                    </label><br class="tablet-hide">
                    <label class="radio-container">Price: High to Low
                        <input type="radio" name="orderby" value="pricedesc" onclick="document.location='{{site.url}}/shop?orderby=pricedesc';">
                        <span class="checkmark"></span>
                    </label>

                </form>
            </div>
        </div>




        <div class="container-nested product-list">

           
        <!-- Latest Issue -->

{#         {% for issue in issues|slice(0,1) %}


            <div class="container-nested product latest">
                <div class="image-column">
                    <a href="{{issue.link}}">
                        <img class="product-image" src="{{Image(issue.cover_image).src}}">
                    </a>
                </div>
                <div class="info-column">
                    <div class="product-info">
                        <h4 class="current-volume">Current Volume</h4>
                        <h3>Volume N<sup>o</sup> {{issue.volume_number}}<br><span class="poppins">{{issue.title}}</span></h3>
                        <h4 class="price">£9.99 <span class="worksans">(</span>excl. delivery<span class="worksans">)</span></h4>
                        <p>
                           {{issue.description}}
                        </p>
                        <a href="{{issue.link}}">
                            <h4 class="link">See Inside<img class="chevron" src="{{theme.link}}/img/chevron-right-black.png"></h4>
                        </a>
                    </div>
                </div>
            </div>

        {% endfor %}

 #}
            <div class="product subscription">
                <h2>Our Annual <span class="poppins">Subscription</span></h2>
                <h4>UK £68.99 <span class="worksans">/</span> Eu + ROW £89.99 <span class="worksans">/</span> Asia £107.99</h4>
                <p>Get our annual subscription now to access all printed only features and receive a free tmrw tote bag and a notebook.<sup> 1</sup></p>
                <a href="{{site.url}}/shop/six-month-subscription/">
                    <button>Subscribe</button>
                </a>
                <p class="small"><sup>1 </sup>This offer is valid as long as stock of tote bags and notebooks last.</p>
            </div>


            {% if posts %}

            {##
             # Depending on your WooCommerce display settings, the `woocommerce_product_subcategories` function
             # might reset the $wp_query global. By calling `have_posts()`, we check if there are posts we can
             # display.
             #}
            {% for post in posts if fn('have_posts') %}
                

                {% if 'Subscription' not in post.name %}


                    {% include 'woocommerce/teaser-product.twig' %}

                {% endif %}

            {% endfor %}

            {% elseif not fn('woocommerce_product_subcategories', [{
            before: fn('woocommerce_product_loop_start', false),
            after: fn('woocommerce_product_loop_end', false)
            }]) %}
            {##
            # woocommerce_no_products_found hook.
            #
            # @hooked wc_no_products_found - 10
            #}
            {% do action('woocommerce_no_products_found') %}

            {% endif %}


        </div>
    </div>




{% endblock %}


{% block btfad %}
    {% include 'partials/store-locator-front.twig' %}
    {% include 'partials/instagram-module.twig' %}
{% endblock %}  

{% block subscription %}
{% endblock %}


{% block scripts %}
  {{ parent() }}

  <script type="text/javascript">
$(document).ready(function() {
    // parse the url:
    var link = window.location.search.match(/orderby=(\w+)/)[1];
    if (typeof link !== 'undefined') {
        // update the correct radio button:
        $('input[value="' + link + '"]').prop("checked", true);
    }
});

  </script>

{% endblock %}