{% extends "layout.twig" %}


{% block content %}
    
  <section id="product">

        <div class="container">
            <div class="container-nested">
                <div class="image-column">
                    <img class="product-image" src="{{ post.thumbnail.src }}">
                </div>
                <div class="info-column">
                    <div class="product-info">


                        {% if 'subscription' in current_url %}
                            <h3>Our Annual<br><span class="poppins">Subscription</span></h3>
                        {% else %}
                            <h3>Volume N<sup>o</sup> {{post.number}}<br><span class="poppins">{{post.title}}</span></h3>
                        {% endif %}
                        
                        {% if post.custom._stock_status == 'instock' %}
                    
                        {% 
                            do action( 'woocommerce_single_product_summary' ) 
                        %}    

                        {% else %}

                         <p class="price"> Sold Out </p> 
                         
                         {% endif %} 

                    </div>
                </div>
            </div>
            <div class="sub-heading">
                <h4>Description</h4>
            </div>
                <div class="description">
                {%
                    do action( 'product_description' ) 
                %}
            </div>
        </div>
    </section>

{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{theme.link}}/js/quantity.js"></script>
  {{ parent() }}
{% endblock %}